# Environment
.env
.env.*

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
.venv/
build/
develop-eggs/
dist/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.pytest_cache/
.mypy_cache/
htmlcov/
coverage.xml
.coverage
nosetests.xml
coverage/

# VS Code
.vscode/

# IDEs
.idea/
.ropeproject/

# Node / JS
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
dist/
build/

# React preview specific
react-preview/node_modules/
react-preview/dist/

# OS
.DS_Store
Thumbs.db

# Misc
*.log

